<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=d738167e-9892-4a7b-aada-a79e0099f3de.sqlserver.sequelizer.com;Database=dbd738167e98924a7baadaa79e0099f3de;User ID=rjmjtrtrdoafefzw;Password=hTf5Jwu2w2GZGwEPDBtirqXUUuZVbRdGFJSHLyGrbJa3i3gUcuQQ4VJY5sipEFYM;"/>
  </connectionStrings>
</configuration>
